@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #181818;
}